@import '../../../../assets/scss/variable';

.header {
  // background-color: #000000;

  .toolbar  {
    background-color: $primary_color;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      font-weight: 200;
      // font-style: italic;
      font-size: 3rem;
      // color: #ffffff;
    }

    .menu {
      display: flex;
      text-transform: uppercase;
      justify-content: space-between;
      li {
        list-style: none;
        // display: inline-block;
        a {
          display: inline-block;
          padding: 10px 20px;

          margin-right: 5px;
          text-decoration: none;
          color: #000000 ;

          &.menu-item {
            // transition: all 0.3s;

            &.active {
              color: #ffffff !important;
            }

            &:hover {
              color: #230444;
            }

            &.call-action {
              // padding: 20px 10px;
              background-color: #230444 !important;
              border: 1px solid #ffffff;
              border-radius: 50px;
              color: #ffffff;
              -webkit-transition: all 0.4s; /* Safari */
              transition: all 0.4s;

              &:hover {
                background-color: #ffffff !important;
                color:  #230444 !important;
                border-color: #230444;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px){

  /* .header {
    .menu {
      display: block;
    }

    .mobile__menu {
      display: none;
    }
  } */


}
