<div class="header">
  <div class="toolbar">
    <span class="brand">Gespark</span>
    <ul class="menu">
      <li><a href="#" class="menu-item active">Tarif</a></li>
      <li><a href="#" class="menu-item">Avantages</a></li>
      <li><a href="#" class="menu-item">Contact</a></li>
      <li><a href="#" class="menu-item call-action">Commencer Maintenant</a></li>
    </ul>
    <!-- <div class="mobile__menu">X</div> -->
  </div>
</div>
