<div class="page">
  <!-- Banner -->
  <div class="header__banner">

    <div class="header__banner-left">

      <h2 class="header__banner-left__title">
        Perdez <span style="font-weight: 800;">plus de temps</span>, <br/> obtenez votre <span style="font-weight: 800;">logiciel de gestion de flotte</span>.
      </h2>

      <p class="header__banner-left__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quibusdam nemo debitis velit perferendis! Placeat nesciunt natus nemo reiciendis,
      </p>

      <div class="header__banner-left__actions">
        <button class="btn call-action"> Regarder une demo </button>
        <button class="btn call-action-outline">Demarrer une periode d'essaie</button>
      </div>
    </div>

    <div class="header__banner-right" style="background-image: url('assets/img/vehicle_map.png');">

    </div>
  </div>

  <!-- section: feature -->
  <section class="feature" >
    <h2 class="feature__title">Pourquoi choisir <span class="feature__title-is_bold">GESPARK</span></h2>
    <p class="feature__subtile">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Rerum illo sapiente itaque facilis doloribus maxime eaque,
      nam laborum minus expedita tempora debitis officia voluptatem ex similique adipisci,
      natus asperiores voluptates?
    </p>

    <div class="feature__content" style="display: grid;">

    </div>
  </section>
</div>
